{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Campus {% endblock %}

{% block body %}
    <main>
        <div class="general">
        <h1>Gérer les campus</h1>
        <table>
            <thead>
            <tr>
                <th>Campus</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for c in campus  %}
                <tr>
                    <td>{{ c.nom | upper}}</td>
                    <td>
                        <a href="{{ path('main_home') }}" title="Modifier">Modifier</a>
                        <a href="{{ path('campusville_supprimercampus',{'id': c.id }) }}" title="Supprimer">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                {{ form_start(campusForm) }}
                <td>{{ form_row(campusForm.nom) }}</td>
                <td><button>Ajouter</button></td>
                {{ form_end(campusForm) }}
            </tr>

            </tbody>
        </table>
        </div>
    </main>
{% endblock %}
