{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Campus {% endblock %}

{% block body %}
    <main>
        <div class="general">
        <h1>Gérer les campus</h1>
            {{ form_start(filterForm) }}
            {{ form_widget(filterForm) }}
                <button>Rechercher</button>
            {{ form_end(filterForm) }}
        <table>
            <thead>
            <tr>
                <th>Campus</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for c in campus  %}
                {% if c != pCampus %}
                    <tr>
                        <td>{{ c.nom | upper}}</td>
                        <td>
                            <a href="{{ path('campusville_modifiercampus',{'id': c.id }) }}" title="Modifier"> Modifier</a>
                            &emsp;
                            <a href="{{ path('campusville_supprimercampus',{'id': c.id }) }}" title="Supprimer"
                               onclick ='return confirm("Etes vous sûr de vouloir supprimer la sortie?")'>  Supprimer</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr>
                {{ form_start(campusForm) }}
                <td>{{ form_row(campusForm.nom) }}</td>
                {% if modif %}
                    <td>
                        <button type="submit">Enregistrer</button>
                        <a href="{{ path('campusville_campus')}}">Annuler</a>
                        <a href="{{ path('campusville_supprimercampus',{'id': pCampus.id }) }}" title="Supprimer"
                           onclick ='return confirm("Etes vous sûr de vouloir supprimer la sortie?")'>Supprimer</a>
                    </td>
                {% else %}
                    <td><button>Ajouter</button></td>
                {% endif %}
                {{ form_end(campusForm) }}
            </tr>

            </tbody>
        </table>
        </div>
    </main>
{% endblock %}
