{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Villes {% endblock %}

{% block body %}
<main>
    <div class="general">
        <h1>Gérer les villes</h1>
        <table>
            <thead>
            <tr>
                <th>Villes</th>
                <th>Code Postal</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for v in villes  %}
            <tr>
                <td>{{ v.nom | upper}}</td>
                <td>{{ v.codePostal }}</td>
                <td>
                    <a href="{{ path('campusville_modifierville',{'id': v.id }) }}" title="Modifier">Modifier</a>
                    <a href="{{ path('campusville_supprimerville',{'id': v.id })}}" title="Supprimer">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
            <tr>
                {{ form_start(villesForm) }}
                <td>{{ form_row(villesForm.nom) }}</td>
                <td>{{ form_row(villesForm.codePostal) }}</td>
                {% if modif %}
                    <td>
                        <button type="submit">Enregistrer</button>
                        <a href="{{ path('campusville_villes')}}">Annuler</a>
                    </td>
                {% else %}
                    <td><button>Ajouter</button></td>
                {% endif %}
                {{ form_end(villesForm) }}
            </tr>
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
