{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} |réinitialisation du MDP{% endblock %}

{% block body %}
<main>
    <form  class="general" method="post">
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1 class="h3 mb-3 font-weight-normal" >Réinitialisation de votre mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrez votre adresse e-mail et nous vous enverrons un
                lien pour réinitialiser votre mot de passe.
            </small>
        </div>

        <button class="btn btn-lg btn-primary" type="submit">Envoyer</button>

    </form>
</main>
    {{ form_end(requestForm) }}
{% endblock %}
