{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Accueil {% endblock %}

{% block body %}
    <main>
        <div class="generalBig">
            <h1>Accueil</h1>


            <div class="sorties">

                <table>

                    <thead>
                        <tr>
                            <th><p>Nom de la sortie</p></th>
                            <th><p>Date de la sortie</p></th>
                            <th><p>Date de Clôture</p></th>
                            <th><p>Inscription/Places</p></th>
                            <th><p>Etat</p></th>
                            <th><p>Inscrit</p></th>
                            <th><p>Organisateur</p></th>
                            <th><p>Actions</p></th>

                        </tr>
                    </thead>

                    <tbody>
                    {% for s in sortie  %}
                        <tr>
                            <td><p>{{ s.nom }} </p></td>
                            <td><p>{{ s.dateHeureDebut | date('d/m/Y')}}</p></td>
                            <td><p>{{ s.dateLimiteInscription | date('d/m/Y')}}</p></td>
                            <td><p>{{ s.nbInscriptionMax  }}</p></td>
                            <td><p>{{ s.etats.libelle }}</p></td>
                            <td><p>{# todo boolean inscrit #}</p></td>
                            <td><p>{{ s.organisateur.nom |upper }} {{ s.organisateur.prenom}}</p></td>
                            <td><p>
                                    {% if s.etats.id == '2' %}
                                    <a href="{{ path('sortie_details', {'id':s.id}) }}">Afficher</a>
                                    {% endif %}

                                    {% if s.etats.id == '2' and s.organisateur %}
                                    <a href="{{ path('sortie_details', {'id':s.id}) }}">Modifier</a>
                                    {% endif %}

                                    {% if s.etats.id == '2' and app.user and  %}
                                    <a href="{{ path('sortie_details', {'id':s.id}) }}">S'inscrire</a>
                                    {% endif %}

                                    {# si la sortie est publié &&  user = inscrit #}
                                    {# >se désinscrire< #}
                            </p></td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>

            {% if is_granted("ROLE_ADMIN") %}
                <div class="creation_sortie">
                    <button><a href="{{ path('sortie_create') }}"> Créer une sortie</a></button>
                </div>
            {% endif %}

        </div>
    </main>
{% endblock %}

