{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Profil {% endblock %}

{% block body %}
    <main>
        <div class="container">
            <h1>Bienvenu {{ participant.prenom }}</h1>
                <div class="profil">
                        <h3>nom : {{ participant.nom }}</h3>
                        <h3>Téléphone : {{ participant.telephone }}</h3>
                        <h3>email : {{ participant.email }}</h3>
                        <h3>campus de rattachement : {{ participant.campus.nom }}</h3>
                </div>
        </div>
    </main>
{% endblock %}