{% extends 'base.html.twig' %}

{% block title %}
Sorties | {{ parent() }}
{% endblock %}

{% block body %}
    <main>
        <div class="general">
            <h1>{{ sortie.nom }}</h1>

            <div class="sorties">
                        <p>Date de la sortie : {{sortie.dateHeureDebut | date('d/m/Y')}}</p>
                        <p>Date de Clôture : {{sortie.dateLimiteInscription | date('d/m/Y') }}</p>
                        <p>Inscription/Places : {{ sortie.sortieParticipants | length }} / {{sortie.nbInscriptionMax }}</p>
                        <p>Durée : {{sortie.duree}} minutes</p>
                        <p>Descritpion et infos : {{sortie.infosSortie}}</p>
                        <p>Campus : {{sortie.campus.nom}}</p>
                        <p>Lieu : {{sortie.lieux.nom}}</p>
                        <p>Rue : {{sortie.lieux.rue}}</p>
                        <p>Code postal : {{sortie.lieux.villes.codePostal}}</p>
                        <p>Etat : {{sortie.etats.libelle}} </p>
                        <p>Organisateur : {{sortie.organisateur.nom}} </p>


                <h3>Participants Inscrit </h3>
                <table>
                    <thead>
                    <tr>
                        <th>Prénom</th>
                        <th>Nom</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for s in sortie.sortieParticipants %}
                    <tr>
                             <td><a href="{{ path('user_profil', {'id':s.id}) }}">{{ s.prenom }}</a></td>
                            <td>{{ s.nom }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock %}
