{% extends 'base.html.twig' %}

{% block title %}
Sorties | {{ parent() }}
{% endblock %}

{% block body %}

        <div class="general">
            <h1>Tournée des Bars</h1>

            {% if is_granted("ROLE_ADMIN") %}
                <a href="{{ path('sortie_create') }}"> Créer une sortie</a>
            {% endif %}

            <div class="sorties">
                        <a>Date de la sortie : {{sortie.dateHeureDebut | date('d/m/Y')}}</a><br>
                        <a>Date de Clôture : {{sortie.dateLimiteInscription | date('d/m/Y') }}</a><br>
                        <a>Inscription/Places : {{sortie.nbInscriptionMax }}</a><br>
                        <a>Durée : {{sortie.duree}} </a><br>
                        <a>Descritpion et infos : {{sortie.infosSortie}}</a><br>
                        <a>Campus : {{sortie.campus.nom}}</a><br>
                        <a>Lieu : {{sortie.lieux.nom}}</a><br>
                        <a>Rue : {{sortie.lieux.rue}}</a><br>
                        <a>Code postal : </a><br>
                        <a>Etat : {{sortie.etats.libelle}} </a><br>
                        <a>Organisateur : {{sortie.organisateur.nom}} </a><br>


                <h3>Participants Inscrit </h3>
                <table>
                    <thead>
                    <tr>
                        <th>Prénom</th>
                        <th>Nom</th>
                    </tr>
                    </thead>
                    <tbody>
                    {# for s in sortieParticipant  %}#}
                    <tr>
                           {#  <td>{{ s.prenom }}</td>
                            <td>{{ s.nom }}</td>#}
                        </tr>
{# {% endfor %}#}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock %}
