<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Sortir.com {% endblock %}</title>
        <link rel="icon" href="{{ asset('img/icon2.png') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">

    </head>
    <body>
        <header>
            <a href="{{ path('main_home') }}"><img src="{{ asset('img/logo2.png') }}" alt="logo"></a>
            {%  include 'inc/nav.html.twig' %}
        </header>

        {% for label, messages in app.flashes %}
            {% for message in messages  %}
                <div class="flash flash--{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}


        {% block body %}{% endblock %}

        <footer>
            <div>
                <h1>&copy MAXENCE MEDARD</h1>
                &copy ENI
                {{ "now"|date('Y') }} Sortir
            </div>

        </footer>
    </body>


</html>
