<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %} Sortir.com {% endblock %}</title>
        <link rel="icon" href="{{ asset('img/icon2.png') }}">
        <link rel="stylesheet" media="screen and (min-width: 1081px)" href="{{ asset('css/main.css') }}">
        <link rel="stylesheet"  href="{{ asset('css/navv.css') }}">
        <link rel="stylesheet" media="screen and (min-width: 481px) and (max-width: 1080px)" href="{{ asset('css/tablette.css') }}">
        <link rel="stylesheet" media="screen and (max-device-width : 480px)" href="{{ asset('css/smartphone.css') }}">


        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">



    </head>
    <body>
        <header>

            <a href="{{ path('main_home') }}"><img class="logo" src="{{ asset('img/logo2.png') }}" alt="logo"></a>


            {%  include 'inc/nav.html.twig' %}

        </header>

        {% block body %}{% endblock %}

        {% for label, messages in app.flashes %}
            {% for message in messages  %}
                <div class="flash flash--{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}




        <footer>
            <p>&copy ENI {{ "now"|date('Y') }} | Sortir </p>
        </footer>
    </body>
</html>
