<link rel="stylesheet"   href="{{ asset('css/navv.css') }}">
{#verification connecté#}
{% if app.user %}
    <section class="top-nav">
        <label class =navbarre>
            <input class="hamb" type="checkbox">

            <span class="menu">
                <span class="hamburger"></span>
            </span>

            <ul>
                {% if is_granted("ROLE_ADMIN") %}
                <div class="liste">
                    <div class="adminList">
                        <li> <a class="dropdown-item" href="{{ path('campusville_campus') }}" title="Campus">Campus</a></li>
                        <li> <a class="dropdown-item" href="{{ path('campusville_villes') }}" title="Villes">Ville</a></li>
                        <li><a class="dropdown-item" href="{{ path('user_gestion') }}" title="User">Gestions des Participants</a></li>
                    </div>
                {% endif %}

                    <div class="userList">
                        <li><a class="dropdown-item" href="{{ path('main_home') }}" title="Accueil">Accueil</a></li>
                        <li> <a class="dropdown-item" href="{{ path('user_profil',{'id':app.user.id}) }}" title="monProfil">Mon Profil</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_logout') }}" title="seDeconnecter">Se Déconnecter ({{ app.user.userIdentifier }})</a></li>
                    </div>
                </div>
            </ul>



                {% if app.user.images is not empty %}
                    <a href="{{ path('user_profil',{'id':app.user.id}) }}" title="monProfil">
                        <img class="ppmini" src="{{ asset('uploads/'~app.user.images.name) }}" alt="photo profil">
                    </a>
                {% endif %}
        </label>
{% endif %}
        </section>

