<nav>
    <ul>
        {% if is_granted("ROLE_ADMIN") %}
            <li><h3><a href="{{ path('main_campus') }}" title="Campus">Campus</a></h3></li>
            <li><h3><a href="{{ path('main_villes') }}" title="Villes">Ville</a></h3></li>
        {% endif %}

        {% if app.user %}
            <li><h3><a href="{{ path('main_home') }}" title="Accueil">Accueil</a></h3></li>
            <li><h3><a href="{{ path('main_profil') }}" title="monProfil">Mon Profil</a></h3></li>
            <li><h3><a href="{{ path('app_logout') }}" title="seDeconnecter">Se Déconnecter ({{ app.user.userIdentifier }})</a></h3></li>
        {% endif %}

    </ul>
</nav>