<nav>
    <ul>
        {% if is_granted("ROLE_ADMIN") %}
            <li><h3><a href="{{ path('campusville_campus') }}" title="Campus">Campus</a></h3></li>
            <li><h3><a href="{{ path('campusville_villes') }}" title="Villes">Ville</a></h3></li>
            <li><h3><a href="{{ path('user_gestion') }}" title="User">Gestions des Participants</a></h3></li>
        {% endif %}

        {% if app.user %}
            <li><h3><a href="{{ path('main_home') }}" title="Accueil">Accueil</a></h3></li>
            <li><h3><a href="{{ path('user_profil',{'id':app.user.id})}}" title="monProfil">Mon Profil</a></h3> </li>
            <li>
                <h3><a href="{{ path('app_logout') }}" title="seDeconnecter">Se Déconnecter ({{ app.user.userIdentifier }})</a></h3>

                {% if app.user.images is not empty %}
                    <a href="{{ path('user_profil',{'id':app.user.id})}}" title="monProfil">
                        <img  class="ppmini" src="{{ asset('uploads/'~app.user.images.name) }}" alt="photo profil">
                    </a>
                {% endif %}
            </li>
        {% endif %}

    </ul>
</nav>

