{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | détails {% endblock %}

{% block body %}
    <main>
        <div class="generalBig">
            <h1>Accueil</h1>

            <div class="sorties">

                <table>

                    <thead>
                        <tr>
                            <th><p>Nom</p></th>
                            <th><p>Prénom</p></th>
                            <th><p>Téléphone</p></th>
                            <th><p>Email</p></th>
                            <th><p>Role</p></th>
                            <th><p>Campus</p></th>
                            <th><p>Actions</p></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for p in participantsList  %}

                            <tr>
                                <td><p>{{ p.nom }} </p></td>
                                <td><p>{{ p.prenom }}</p></td>
                                <td><p>{{ p.telephone}}</p></td>
                                <td><p> {{ p.email }}</p></td>
                                <td>
                                    {% for r in p.roles  %}
                                    <p>{{r}}</p>

                                        {% if r == "ROLE_ADMIN" %}
                                            {% set isAdmin = 1 %}
                                        {% endif %}

                                    {% endfor %}
                                </td>
                                <td><p> {{ p.campus.nom }}</p></td>

                                <td>

                                    {% if p.actif %}
                                        <a href="{{ path('user_gestion_desactivate', {'id': p.id }) }}" onclick="return confirm('Etes-vous sûr de vouloir désactiver cet utilisateur?')" >Désactiver &#10060;</a>&emsp;
                                    {% else %}
                                        <a href="{{ path('user_gestion_reactivate', {'id': p.id }) }}" onclick="return confirm('Etes-vous sûr de vouloir réactiver cet utilisateur?')">Réactiver</a>&emsp;
                                    {% endif %}


                                    {% if isAdmin %}
                                        <a href="{{ path('user_gestion_stripAdmin', {'id': p.id }) }}" onclick="return confirm('Etes-vous sûr de vouloir retirer les droits d\'admin?')">Retirer droits "admin" &#10060;</a>&emsp;
                                        {% set isAdmin = 0 %}
                                    {% else %}
                                        <a href="{{ path('user_gestion_grantAdmin', {'id': p.id }) }}" onclick="return confirm('Etes-vous sûr de vouloir octroyer des droits d\'admin?')">Donner droits "admin" </a>&emsp;
                                    {% endif %}

                                    <a href="{{ path('user_gestion_delete', {'id': p.id }) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer cet utilisateur?')">Supprimer &#10060;</a>&emsp;

                                </td>
                            </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>

            {% if is_granted("ROLE_ADMIN") %}
                <div class="creation_sortie">
                    <button><a href="{{ path('gestion_registerAdmin') }}"> Créer un participant manuellement</a></button>
                    <button><a href="{{ path('gestion_registerAdminCSV') }}"> Créer un participant à partir d'un fichier CSV</a></button>
                </div>
            {% endif %}

        </div>
    </main>
{% endblock %}
